/* /Layout/MainNav.razor.rz.scp.css */
.mainNav[b-hao0u6080a] {
    background-color: #30415b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 5rem;
    line-height: 1.5rem;
}

#mainNav_left[b-hao0u6080a] {
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1rem;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#mainNav_left p[b-hao0u6080a] {
    font-size: 1rem;
}

#mainNav_left h1[b-hao0u6080a] {
    font-weight: 400;
    text-decoration: underline;
}

#mainNav_right[b-hao0u6080a] {
    padding-right: 1rem;
}

#mainNav_right ul[b-hao0u6080a] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

#mainNav_right ul a[b-hao0u6080a] {
    padding: 1.4rem .8rem;
    font-weight: 600;
}

#mainNav_right ul a:hover[b-hao0u6080a] {
    background-color: #53719e;
}
/* /Pages/Home.razor.rz.scp.css */
#home[b-qkqvtk7xtj] {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_middle[b-qkqvtk7xtj] {
    text-align: center;
}

.home_middle_h1[b-qkqvtk7xtj] {
    font-weight: 400;
    line-height: 1.1;
    font-size: 1.7em;
}

#gold-hr[b-qkqvtk7xtj] {
    width: 25em;
    border-top: solid 1px #cc9900;
}

.home_middle_img[b-qkqvtk7xtj] {
    display: inline;
}
