<link rel="stylesheet" href="css/Navbar.css" />

<div class="nav">
	<a href="/" id="nav_left">
		<img src="assets/lcb-logo-sm.png" alt="LCB Logo" />
		<div>
			<h1>Nevada Legislature</h1>
			<p>The peoples Branch of Government</p>
		</div>
	</a>

	<div id="nav_right">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/nelis">NELIS</a></li>
			<li><a href="/search">Search</a></li>
			<li><a href="/schedule">Scheduled Meetings</a></li>
		</ul>
	</div>
</div>